<div id="route" class="well span3">

<div class="span3">
<img class="" src="{{ asset('bundles/agoratecvueloapp/images/navigation/route66app.png') }}">
</div>
<div id="route-info">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Nunc convallis porta dolor eu posuere. 
Duis aliquam orci sed purus accumsan ac pulvinar leo hendrerit. 
</p>
</div>


<form class="form-horizontal">
  <fieldset>
    <legend><h2>Cómo llegar</h2></legend>
    <div class="control-group">
     
     
        <input type="text" class="input span3" id="input01">
        <p class="help-block">Punto de inicio</p>
        <p></p>
     
      
        <input type="text" class="input span3" id="input02">
        <p class="help-block">Punto de destino</p>
      
    </div>
    
    <button type="submit" class="btn btn-primary  offset1 "><strong>CÓMO LLEGAR</strong></button>
  </fieldset>
</form>



</div>