#app{
margin-top:10px;
margin-bottom:10px;
}

#app_form{
background-image: url(http://pagescroller.com/images/section_1.png);
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 50%;
background-position-y: 50%;
background-origin: initial;
background-clip: initial;
background-color: #1D333A;
padding:20px;

}
#app{
color: white;
}


#app h2,#app h3{
color: white;
}

#intro{
	
	background-image: url('http://150.241.237.246/bundles/agoratecvueloapp/images/home/frame.png');!important
}

#intro h1{
text-shadow: #bbbbbb 1px -2px 3px;
}

