<div id="app">

<div class="row-fluid">
  <div class="span12">
	
	 <div class="span6 offset3">
		<div id="app_form">
		<h2>Download It Now!</h2>
		<h3>Beta Release (Current IE Support: v9+)</h3>

		 <div class="span6 offset1">
		<form class="well form-inline">
		  <input type="text" class="span3" placeholder="Email Adress">
		  
		  <button type="submit" class="btn btn-success btn-large"><i class="icon-download icon-white"></i>Download!</button>
		</form>
		</div>
		 
		<p>Don’t worry, I could hardly eat spam let alone email it to you. 
Complete browser support along with mobile and tablet coming soon. 
(likewise degradation). Stay updated!</p>
	</div>
	</div>	
  </div>


</div>

</div>
