<div id="intro" class="hero-unit">

  <h1>Descubre el Vuelo Social!</h1>
  <p>
    Texto principal de bienvenida a nuestra p치gina. Prueba a redimiensinar el 
    navegador y comprobar치 como se adapta el dise침o al nuevo tama침o.
  </p>
  <p><a href="{{ path('usuario_registro') }}" class="btn btn-primary btn-large">Registrate</a></p>

</div>


