<div class="hero-unit">
  <h1>Descubre el Vuelo Social!</h1>
  <p>
    Texto principal de bienvenida a nuestra página. Prueba a redimiensinar el 
    navegador y comprobará como se adapta el diseño al nuevo tamaño.
  </p>
  <p><a class="btn btn-primary btn-large">Más información</a></p>
</div>


