<div class="row-fluid">
  <div class="span12">

    <div class="row">
    <ul class="thumbnails">
    			<div class="offset1">
			   <li class="span3 ">
			      <div class="thumbnail">
		            <img src="{{ asset("bundles/agoratecvueloapp/images/home/inicio.png") }}" alt="">
		            <div class="caption">
		              <h5>Thumbnail label</h5>
		              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
		            </div>
		          </div>
			  </li>
			  </div>
			     <div class="offset1">
			   <li class="span3 offset1">
			      <div class="thumbnail">
		            <img src="{{ asset("bundles/agoratecvueloapp/images/home/controles.png") }}" alt="">
		            <div class="caption">
		              <h5>Thumbnail label</h5>
		              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
		            </div>
		          </div>
			  </li>
			  </div>
			  <div class="offset1">
			   <li class="span3 offset1">
			      <div class="thumbnail">
		            <img src="{{ asset("bundles/agoratecvueloapp/images/home/pantallazo.png") }}" alt="">
		            <div class="caption">
		              <h5>Thumbnail label</h5>
		              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
		            </div>
		          </div>
			  </li>
			  </div>
			   </ul>
    </div>
  </div>
</div>


