<div class="row-fluid">
  <div class="span12">

    <div class="row">
      <div class="span3 offset1">
    <h2>Producto</h2>
    <p>
      Descripción del producto presentado. Descripción del producto presentado. 
      Descripción del producto presentado.
    </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
     <div class="span3 offset1">
    <h2>Producto</h2>
    <p>
      Descripción del producto presentado. Descripción del producto presentado. 
      Descripción del producto presentado.
    </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
      <div class="span3 offset1">
    <h2>Producto</h2>
    <p>
      Descripción del producto presentado. Descripción del producto presentado. 
      Descripción del producto presentado.
    </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
    </div>
  </div>
</div>
